<!--FOOTER-->
<div id="footer-wrap">
    <footer>
      <article>
        <p>
          Copyright &copy; 2016-2020 Thai Cafe | Website developed & hosted by
          <a href="https://schrader.co" target="blank" style="color: #db2e2e"
            >Schrader Web Solutions</a
          >
        </p>
      </article>
    </footer>
  </div>
  <!--/FOOTER-->

  <!--jQuery-->
  <script src="./js/jquery-1.11.1.min.js"></script>
  <!--bxSlider-->
  <script src="./js/jquery.bxslider.min.js"></script>
  <!--imgLiquid-->
  <script src="./js/imgLiquid-min.js"></script>
  <!-- Tooltipster -->
  <script src="./js/jquery.tooltipster.min.js"></script>
  <!--easyPieChart-->
  <script src="./js/jquery.easypiechart.min.js"></script>
  <!--Waypoints-->
  <script src="./js/waypoints.min.js"></script>
  <!--WoW Animations-->
  <script src="./js/wow.min.js"></script>
  <!--Menu-->
  <script src="./js/menu.js"></script>
  <!--Main-->
  <script src="./js/main.js"></script>
  <!--Contact-->
  <script src="./js/contact.js"></script>
  <!-- Google Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <!-- Google Maps Config -->
  <script src="./js/gmaps.js"></script>
  <!--Login/Register/Reset Forms-->
  <script src="./js/forms.js"></script>
</body>
</html>
