    <!--PHONE-ORDER-->
    <div id="phone-order-wrap">
        <section id="phone-order">
          <img src="./images/order-now.png" alt="order-now" class="wow shake" />
          <img src="./images/hand-phone.png" alt="phone" class="wow fadeInRight" />
          <article>
            <h4>Make your <span class="remarked">phone order</span></h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore. Lorem ipsum dolor sit
              amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua.
            </p>
            <p class="street">1219 East Front Street Traverse City, MI 49686</p>
            <h2>+1 231-929-1303</h2>
          </article>
        </section>
      </div>
      <!--/PHONE-ORDER-->