<!--REVIEWS-->
<section id="reviews">
  <ul id="review-slider">
    <li>
      <div class="circle small">
        <figure class="imgLiquidFill">
          <img src="images/people/1.jpg" alt="review" />
        </figure>
        <div class="shadow"></div>
        <div class="fill"></div>
      </div>
      <img src="images/stars.png" class="f-stars" alt="" />
      <br />
      <h3>
        "The best springtime rolls in town"<br /><span
          >Faye Valentine, Age 29</span
        >
      </h3>
    </li>
    <li>
      <div class="circle small">
        <figure class="imgLiquidFill">
          <img src="images/people/2.png" alt="review" />
        </figure>
        <div class="shadow"></div>
        <div class="fill"></div>
      </div>
      <img src="images/stars.png" class="f-stars" alt="" />
      <br />
      <h3>
        "The best service i've seen"<br /><span>Tomoyo Kinomoto, Age 24</span>
      </h3>
    </li>
    <li>
      <div class="circle small">
        <figure class="imgLiquidFill">
          <img src="images/people/3.jpeg" alt="review" />
        </figure>
        <div class="shadow"></div>
        <div class="fill"></div>
      </div>
      <img src="images/stars.png" class="f-stars" alt="" />
      <br />
      <h3>
        "The best prices you can get"<br /><span>Kenny D. Hiroshi, Age 32</span>
      </h3>
    </li>
  </ul>
</section>
<!--/REVIEWS-->
