<!--SPECIALS-->
<div id="specials-wrap">
    <section id="specials">
      <h2>Our <span>Featured Dishes</span></h2>
      <hr />
      <hr />
      <ul class="dishes grid">
        <!--DISH-->
        <li class="wow fadeInLeft">
          <div class="circle medium">
            <figure class="imgLiquidFill">
              <img src="./images/dishes/beef pad kow pow.jpg" alt="dish" />
            </figure>
            <div class="shadow"></div>
            <a href="#">
              <div class="fill red tooltip">
                <img src="./images/star-hover.png" alt="star" />
              </div>
            </a>
          </div>
          <article>
            <a href="salmon-rolls.html"><h6>Beef Pad Kow Pow</h6></a>
            <ul class="rate stars">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li class="empty"></li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore.
            </p>
          </article>
          <div class="price">
            <p>$45.00</p>
          </div>
        </li>
        <!--/DISH-->

        <!--DISH-->
        <li class="wow fadeInLeft">
          <div class="circle medium">
            <figure class="imgLiquidFill">
              <img src="./images/dishes/boat noodles.jpg" alt="dish" />
            </figure>
            <div class="shadow"></div>
            <a href="#">
              <div class="fill red tooltip">
                <img src="./images/star-hover.png" alt="star" />
              </div>
            </a>
          </div>
          <article>
            <span class="ribbon new"></span>
            <a href="roudon-soup.html"><h6>Boat Noodles</h6></a>
            <ul class="rate stars">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li class="empty"></li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore.
            </p>
          </article>
          <div class="price">
            <p>$67.00</p>
          </div>
        </li>
        <!--/DISH-->

        <!--DISH-->
        <li class="wow fadeInLeft">
          <div class="circle medium">
            <figure class="imgLiquidFill">
              <img src="./images/dishes/chicken gang ped.jpg" alt="dish" />
            </figure>
            <div class="shadow"></div>
            <a href="#">
              <div class="fill red tooltip">
                <img src="./images/star-hover.png" alt="star" />
              </div>
            </a>
          </div>
          <article>
            <a href="springtime-sushi.html"><h6>Chicken Gang Ped</h6></a>
            <ul class="rate stars">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li class="empty"></li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore.
            </p>
          </article>
          <div class="price">
            <p>$69.00</p>
          </div>
        </li>
        <!--/DISH-->

        <!--DISH-->
        <li class="wow fadeInLeft">
          <div class="circle medium">
            <figure class="imgLiquidFill">
              <img src="./images/dishes/gang peanut curry.jpg" alt="dish" />
            </figure>
            <div class="shadow"></div>
            <a href="#">
              <div class="fill gold tooltip">
                <img src="./images/star-hover.png" alt="star" />
              </div>
            </a>
          </div>
          <article>
            <span class="ribbon featured"></span>
            <a href="kerinachi-rice.html"><h6>Gang Peanut Curry</h6></a>
            <ul class="rate stars gold">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li class="empty"></li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore.
            </p>
          </article>
          <div class="price">
            <p>$47.50</p>
          </div>
        </li>
        <!--/DISH-->

        <!--DISH-->
        <li class="wow fadeInRight">
          <div class="circle medium">
            <figure class="imgLiquidFill">
              <img src="./images/dishes/general chicken.jpg" alt="dish" />
            </figure>
            <div class="shadow"></div>
            <a href="#">
              <div class="fill red tooltip">
                <img src="./images/heart-hover.png" alt="heart" />
              </div>
            </a>
          </div>
          <article>
            <a href="octopus-takoyaki.html"><h6>General Chicken</h6></a>
            <ul class="rate hearts">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li class="empty"></li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore.
            </p>
          </article>
          <div class="price">
            <p>$20.00</p>
          </div>
        </li>
        <!--/DISH-->

        <!--DISH-->
        <li class="wow fadeInRight">
          <div class="circle medium">
            <figure class="imgLiquidFill">
              <img src="./images/dishes/pad prink khing.jpg" alt="dish" />
            </figure>
            <div class="shadow"></div>
            <a href="#">
              <div class="fill gold tooltip">
                <img src="./images/heart-hover.png" alt="heart" />
              </div>
            </a>
          </div>
          <article>
            <span class="ribbon featured"></span>
            <a href="steamed-salmon.html"><h6>Pad Prink Khing</h6></a>
            <ul class="rate hearts gold">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li class="empty"></li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore.
            </p>
          </article>
          <div class="price">
            <p>$78.00</p>
          </div>
        </li>
        <!--/DISH-->

        <!--DISH-->
        <li class="wow fadeInRight">
          <div class="circle medium">
            <figure class="imgLiquidFill">
              <img src="./images/dishes/Pad Se Ew.jpg" alt="dish" />
            </figure>
            <div class="shadow"></div>
            <a href="#">
              <div class="fill red tooltip">
                <img src="./images/heart-hover.png" alt="heart" />
              </div>
            </a>
          </div>
          <article>
            <span class="ribbon new"></span>
            <a href="chocolate-cookies.html"><h6>Pad Se Ew</h6></a>
            <ul class="rate hearts">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li class="empty"></li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore.
            </p>
          </article>
          <div class="price">
            <p>$14.99</p>
          </div>
        </li>
        <!--/DISH-->

        <!--DISH-->
        <li class="wow fadeInRight">
          <div class="circle medium">
            <figure class="imgLiquidFill">
              <img src="./images/dishes/pho-licious.jpg" alt="dish" />
            </figure>
            <div class="shadow"></div>
            <a href="#">
              <div class="fill red tooltip">
                <img src="./images/heart-hover.png" alt="heart" />
              </div>
            </a>
          </div>
          <article>
            <a href="onion-soup.html"><h6>Pho-licious</h6></a>
            <ul class="rate hearts">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li class="empty"></li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temp incididunt ut labore et dolore.
            </p>
          </article>
          <div class="price">
            <p>$50.00</p>
          </div>
        </li>
        <!--/DISH-->
      </ul>
      <div class="cleaner"></div>
      <h6>And this is just a peek</h6>
      <h3>
        Check out all the delicious dishes we have in
        <span class="remarked">our menu!</span>
      </h3>
      <a href="menu.html" class="button red">Click here to view our menu</a>
    </section>
  </div>
  <!--/SPECIALS-->