<a href="tel:+12319291303"
      ><img src="./images/call.png" style="display: none" class="call" alt=""
    /></a>

    <!--TOP-DISHES-->
    <div id="top-dishes-wrap">
      <section id="top-dishes">
        <ul>
          <li class="wow bounceInRight">
            <div class="circle medium">
              <div class="fill"></div>
            </div>
            <h4>Dinner Menu</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur ed adipisicing elit, sed
              do eiusmod tempor incididuut labore consectetur.
            </p>
            <a href="menu.html#dinner" class="button red">Go to Dinner</a>
          </li>
          <li class="wow bounceInRight">
            <div class="circle medium">
              <div class="fill"></div>
            </div>
            <h4>Lunch Menu</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur ed adipisicing elit, sed
              do eiusmod tempor incididuut labore consectetur.
            </p>
            <a href="menu.html" class="button red">Go to Lunch</a>
          </li>
          <li class="wow bounceInRight">
            <div class="circle medium">
              <div class="fill"></div>
            </div>
            <h4>Featured Dishes</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur ed adipisicing elit, sed
              do eiusmod tempor incididuut labore consectetur.
            </p>
            <a href="#specials" class="button red">Go to Featured Dishes</a>
          </li>
        </ul>
        <div class="cleaner"></div>
      </section>
    </div>
    <!--/TOP-DISHES-->